.edit-fields input.form-control[type='number'] {
    max-width: 125px;
}

.edit-fields,
.edit-buttons {
    padding: 20px 40px;
}

.edit-fields {
    border-left: 1px solid #dcdcdc;
    width: 100%;
    padding-right: 0;
}

.edit-buttons {
    min-width: 300px;
    padding-left: 0;
    flex: 1;
}

.bolt-edit {
    display: flex;
}

.bolt-table-edit {
    background: #17a2b8;
    color: #fff !important;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s;
    margin: 0 auto;
    padding: 3px 9px;
    display: inline-block;
    text-decoration: none !important;
    border: 0;
}
/*
.bolt-table-edit {
    background: #17a2b8;
    color: #fff !important;
    font-size: 13px;
    cursor: pointer;
    transition: opacity .3s;
    text-decoration: none !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    display: flex;
    justify-content: baseline;
    align-items: center;
    justify-content: center;
}
*/

.bolt-table-edit:hover {
    opacity: 1;
}

@media (max-width:992px) {
    .edit-fields {
        padding-left: 0;
        border-left: 0;
    }
    .edit-buttons {
        padding-right: 0;
    }
    .bolt-edit {
        flex-direction: column;
    }
}